$bgColor:#66B032;
$navButtonsFontColor: #9BD770;
// $bgColotGradientTo: #1B3409;
$bgFooterColor: #1B3409;

// Navbar 
$navbarBgColor: #375f1b00;
$navLinkHover: #1B3409;

//Carousel
$carouselImgWidth: 1100px;

body{
    // background: linear-gradient(to bottom, $bgColor 0%, $bgColotGradientTo 110%);
    background-color: $bgColor;

    // background-image: url(../img/background/bgimage4.jpg);
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: cover;
}
.navbar{
    background-color: $navbarBgColor !important;
}


.footer-container{
    background-color: $bgFooterColor;
    margin-top: 1500px;
    color: $bgColor;
}

//First div container with logo. It has to be moved from top to appear under navbar.
.logo-container{
    margin-top: 70px;
    margin-bottom: 20px;
}

.logo-navbar-link{
    text-decoration: none;
}


//Fixed dimentions container for logo at navigation bar. Logo apear in this place when page is scroled down.
#nav-logo-container-id{
    width: 150px;
    height: 40px;
    opacity: 0;
    transition: opacity 0.2s;
  }
#nav-logo-container-id.fade{
    opacity: 1;
}

.carousel-img{
    width: $carouselImgWidth;
}

.nav-link, .toggler-border-color, .logo-text{
    color: $navButtonsFontColor !important;
    border-color: $navButtonsFontColor !important;
}
.nav-link:hover{
    color: $navLinkHover !important;
}
