@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');


$bgBodyColor:#66B032;
$bgFooterColor: #1B3409;
$bgValueContainerColor: #EBF7E3;

$fontColorValueContainer: #1B3409;

//Navbar
$navbarbgBodyColor: #66b032b9; //semitransparent
$navButtonsFontColor: #9BD770;
$navLinkHover: $fontColorValueContainer;

//Carousel
$carouselImgWidth: 1100px;

body{
    font-family: 'Source Sans Pro', sans-serif;
    // background: linear-gradient(to bottom, $bgBodyColor 0%, $bgColotGradientTo 110%);
    background-color: $bgBodyColor;

    // background-image: url(../img/background/bgimage4.jpg);
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: cover;
}
.navbar{
    background-color: $navbarbgBodyColor !important;
}

.footer-container{
    background-color: $bgFooterColor;
    margin-top: 1500px;
    color: $bgBodyColor;
}

//First div container with logo. It has to be moved from top to appear under navbar.
.logo-container{
    margin-top: 70px;
    margin-bottom: 20px;
    img{
        width: 120px;
        height: auto;
    }
}

.logo-navbar-link{
    text-decoration: none;
}
//Fixed dimentions container for logo at navigation bar. Logo apear in this place when page is scroled down.
#nav-logo-container-id{
    width: 150px;
    height: 40px;
    opacity: 0;
    transition: opacity 0s;
    img{
        width: 40px;
    }
  }
#nav-logo-container-id.fade{
    opacity: 1;
}

.carousel-img{
    width: $carouselImgWidth;
}

.nav-link, .toggler-border-color, .logo-text{
    color: $navButtonsFontColor !important;
    border-color: $navButtonsFontColor !important;
}
.nav-link:hover{
    color: $navLinkHover !important;
}

.value-container{
    background-color: $bgValueContainerColor;
    color: $fontColorValueContainer;
}
.title-container{
    color: $fontColorValueContainer;
}
.cube-thumbinal{
    img{
        width: 100px;
        height: auto;
        justify-content: center;
    }
}