body {
  background-color: #212529;
}

.navShadowScroll {
  box-shadow: 0 2px 6px 0 rgba(136, 133, 133, 0.377);
}

.asd {
  margin-top: 1500px;
}

.logo-container {
  margin-top: 120px;
}

#nav-logo-container-id {
  width: 150px;
  height: 40px;
}
