body {
  background-color: #212529;
  background-image: url(../img/background/bgimage3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.asd {
  margin-top: 1500px;
}

.logo-container {
  margin-top: 90px;
  margin-bottom: 30px;
}

#nav-logo-container-id {
  width: 150px;
  height: 40px;
  opacity: 0;
  transition: opacity 1s;
}

#nav-logo-container-id.fade {
  opacity: 1;
}

.carousel-img {
  width: 1100px;
}
