$bgColor: #212529;

// Navbar 
$navLinkHover: rgb(80, 201, 10);

//Carousel
$carouselImgWidth: 1100px;

body{
    background-color: $bgColor;
    background-image: url(../img/background/bgimage2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.asd{
    margin-top: 1500px;
}

//First div container with logo. It has to be moved from top to appear under navbar.
.logo-container{
    margin-top: 90px;
    margin-bottom: 30px;
}

//Fixed dimentions container for logo at navigation bar. Logo apear in this place when page is scroled down.
#nav-logo-container-id{
    width: 150px;
    height: 40px;
    opacity: 0;
    transition: opacity 1s;
  }
#nav-logo-container-id.fade{
    opacity: 1;
}

.carousel-img{
    width: $carouselImgWidth;
}